PORT=8000
MONGODB_URI=required string
CORS_ORIGIN=required string
ACCESS_TOKEN_SECRET=required string
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=required string
REFRESH_TOKEN_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=required string
CLOUDINARY_API_KEY=required string
CLOUDINARY_API_SECRET=required string